<form #formUsuario="ngForm" (ngSubmit)="enviarFormulario()">
    <label>Nombre:</label>
    <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Ingrese su nombre"
        [(ngModel)]="usuario.nombre"
        required
    />

    <label>Email:</label>
    <input
        type="email"
        id="email"
        name="email"
        placeholder="Ingrese su email"
        [(ngModel)]="usuario.email"
        required
    />

    <button type="submit" [disabled]="formUsuario.invalid">Enviar</button>
</form>
<p>Nombre Ingresado: {{ usuario.nombre }}</p>

<p>Email Ingresado: {{ usuario.email }}</p>

<!-- <router-outlet /> -->
