<footer class="bg-gray-800 text-white relative">
    <div class="container mx-auto px-4 py-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div>
                <h3 class="text-lg font-semibold mb-2">Contacto</h3>
                <p>Email: infoejemplo.com</p>
                <p>Teléfono: 987654321</p>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-2">Enlaces</h3>
                <ul>
                    <li>
                        <a href="#" class="hover:text-gray-300"
                            >Términos y Condiciones</a
                        >
                    </li>
                    <li>
                        <a href="#" class="hover:text-gray-300"
                            >Política de Privacidad</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-semibold mb-2">Síguenos</h3>
                <div class="flex space-x-4">
                    <a href="#" class="hover:text-gray-300">Facebook</a>
                    <a href="#" class="hover:text-gray-300">Twitter</a>
                    <a href="#" class="hover:text-gray-300">Instagram</a>
                </div>
            </div>
        </div>
        <div class="text-center mt-8">
            <p>&copy; 2024 Mi Sitio. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
