<div class="noticias-container">
    <h1>Noticias</h1>

    <div class="noticias-list">
        <article
            *ngFor="let noticia of noticias; let i = index"
            class="noticia-item"
        >
            <div class="noticia-contenido">
                <p>{{ noticia.titulo }}</p>
                <button (click)="mostrarContenido(i)">
                    {{ noticia.mostrar ? "Ocultar" : "Ver más" }}
                </button>
                <div [hidden]="!noticia.mostrar" class="content">
                    <p>{{ noticia.contenido }}</p>
                </div>
            </div>
        </article>
    </div>
</div>
